@import '../../../../styles/theme.scss';

$mapResolutionX: 2400px;
$mapResolutionY: 1695px;
$mapCellWidth: $mapResolutionX / 22 * 0.94;
$mapCellHeight: $mapResolutionY / 28 * 1.02;
$gridTransform: skew(-23.9deg) rotate(24.2deg) translate(-12.0%, -6.3%);

.container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    div.sw-galaxy-map {
        position: absolute;
        overflow: hidden;
        width: $mapResolutionX;
        height: $mapResolutionY;
        top: 50%;
        left: 50%;
        margin-left: calc(-#{$mapResolutionX} / 2);
        margin-top: calc(-#{$mapResolutionY} / 2);
        transition: transform 0.5s linear;
        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
        table.map-grid {
            position: absolute;
            top: 0;
            left: 0;
            table-layout: fixed;
            border-collapse: collapse;
            tr > td {
                border: 1px solid transparent;
                cursor: zoom-in;
                &.selected, &:hover {
                    outline: 5px solid mat-color($accent);
                    transition: outline 0.3s linear;
                }
                & > div {
                    width: $mapCellWidth;
                    height: $mapCellHeight;
                }
            }
            transform: $gridTransform;
        }
    }
    button {
        display: block;
        position: absolute;
        top: 16px;
        left: 16px;
        opacity: 0;
        transition: opacity 0.5s linear;
    }
    &.zoom {
        cursor: zoom-out;
        div.sw-galaxy-map table.map-grid tr > td {
            cursor: zoom-out;
            &:hover:not(.selected) {
                outline: unset;
            }
        }
        button {
            opacity: 1;
            cursor: pointer;
        }
    }
}
