<div class="component" [class.clear-read]="clearRead">
  <mat-icon (click)="clearRead = !clearRead">{{clearRead ? 'arrow_back' : 'zoom_out_map'}}</mat-icon>
  <div class="container">
    <div id="sources">
      <h2>Sources</h2>
      <p>The majority of the site content is an interactive version of the <a href="https://wrvh.home.xs4all.nl/galaxymap/index.html" rel="noopener" target="_blank">Star Wars Galaxy Map</a>, fantastic work of Willem R. van Hage.
        Planet details are derived from the <a href="https://swapi.co/" rel="noopener" target="_blank">SWAPI project - The Star Wars API</a>, created by Paul Hallett.
        The planet image was taken from <a href="http://starwars.wikia.com/wiki/Ryloth" rel="noopener" target="_blank">Wookieepedia</a> and the background image, made by Ilnur Kalimullin, from 
        <a href="https://unsplash.com/@kalimullin?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" rel="noopener" target="_blank"
        >Unsplash</a>.
      </p>
    </div>
    <div>
      <h2>Disclaimer</h2>
      <p>
        This site was created only to play with selected web development technologies.
        All materials, trademarks, logos, design rights or similar rights, that are used on this site, are the property of their respective owners, in particular Lucasfilm Ltd. LLC.
      </p>
      <p>
        The use of any trademark on this site does not vest in the author of this site any trademark ownership rights in such trademarks,
        nor does the use of such trademarks imply any affiliation with or endorsement of the site and its authors by such owners.
      </p>
    </div>
    <div id="copyright">
      <h2>Copyright</h2>
        <p>
          © Jacek Jakubik 2019
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" class="cc-icon"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
        </p>
        <p>
          This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>
          It may be copied, distributed and changed freely as long as the original author is credited and the result can also be copied, distributed and changed with no restrictions.
      </p>
      <p>You may contact me at jacek dot jakubik at optimcon dot net.</p>
    </div>
  </div>
</div>
