@import './theme.scss';

.mat-form-field {
    display: block;
    margin: 0 1em 0;
    font-size: 12px;
    color: $foreground;
    input { caret-color: inherit; }
    &.mat-focused {
        .mat-form-field-label { color: mat-color($accent, lighter); }
        .mat-form-field-ripple {
            height: 1px;
            background-color: mat-color($accent, lighter);
        }
    }
}
.mat-table {
    background-color: unset;
    td.mat-cell { font-size: unset; }
}
.mat-paginator {
    background-color: unset;
    .mat-paginator-range-label { margin: 0 1em 0 0; }
    .mat-paginator-page-size-select {
        width: 3.5em;
        .mat-select-value {
            text-align: center;
            color: unset;
        }
        &.mat-form-field.mat-focused {
            .mat-select-arrow { color: mat-color($accent, darker); }
            .mat-form-field-ripple { background-color: mat-color($accent, darker); }
            .mat-select-value { color: mat-color($accent, darker); }
        }
    }
    button.mat-icon-button {
        width: unset;
        .mat-paginator-icon { width: 1.5em; }
    }
}
