@import './theme.scss';

/* global reset */

*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* app global config */

html { font-size: 15px; }
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: {
        color: black;
        image: url(../assets/ilnur-kalimullin-153166-unsplash-1080-bw.jpg);
        size: cover;
        position: center bottom;
    }
}
.page {
    height: 100vh;
    min-height: 600px;
    padding: 2vh 0;
    @media screen and (min-width: 360px) { padding: 2vh 3vw; }
}

h1, h2 {
    margin-bottom: 1em;
    text-align: center;
    color: mat-color($accent);
}
h1 {
    font-size: 35px;
    @media screen and (min-width: 960px) { font-size: 50px; }
    font-weight: bold;
    font-style: italic;
    margin-bottom: 2rem;
}
h2 {
    font-size: 16px;
    font-weight: 400;
}
img.sw-logo {
    height: 1.5em;
    vertical-align: middle;
    margin-right: 0.2em;
}

.app-table {
    display: block;
    width: 280px;
    @media screen and (min-width: 380px) { width: 350px; }
    max-height: 500px;
    @media screen and (min-height: 600px) { max-height: calc(100vh - 4vh - 130px); }
    font-size: 13px;
    margin: 0 auto;
    padding: 1em;
    background-color: rgba($background, 0.3);
    border: 1px outset mat-color($accent, darker);
    table {
        width: 100%;
        th:not(:first-child) .mat-sort-header-container { justify-content: center;}
        tbody  > tr {
            height: 2em;
            td:not(:first-child) { text-align: center;}
            &:hover td {
                border-color: mat-color($accent, darker);
                transition: color 1s, border-color 1s;
            }
        }
    }
}

.more {
    margin-top: 1em;
    text-align: center;
    color: mat-color($warn);
    @media screen and (min-width: 960px) { display: none; }
}
.snack-bar.warning { color: mat-color($warn); }
