html, body { height: 100%; }

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: {
        color: black;
        image: url(../assets/ilnur-kalimullin-153166-unsplash-1080-bw.jpg);
        size: cover;
        position: center bottom;
    }
}

h1, h2 {
    margin-bottom: 1.5em;
    text-align: center;
}
h1, h2 { color: mat-color($accent); }
