@import '../../../../styles/theme.scss';

:host {
    display: flex;
    flex-direction: column;
}

h2, mat-form-field, mat-paginator { flex: 0 0 auto; }

.planet-list-table {
    flex: 0 1 auto;
    overflow-y: auto;
    cursor: default;
    th { background-color: #181818; }
    tr.selected, tr:hover {
        .hoverHighlight.details {
            color: mat-color($accent);
            cursor: pointer;
        }
        @media screen and (min-width: 960px) {
            cursor: copy;
            .hoverHighlight {
                color: mat-color($accent);
                transition: color 0.3 linear;
                &.zoom { cursor: zoom-in; }
                &.zoom.zoomed { cursor: zoom-out; }
            }
        }
    }
    span.icon {
        font-size: large;
        margin-right: 3px;
    }
}
mat-paginator { background-color: #181818; }
