<h2>Planet list</h2>

<mat-form-field id="filter">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="planet-list-table">
  <table #planetListTable mat-table [dataSource]="dataSource" matSort aria-label="Planet List">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <!-- Location Column -->
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
      <td mat-cell *matCellDef="let row">
        <span class="hoverHighlight zoom" [class.zoomed]="row.location == zoomedLocation" (click)="toggleLocationZoom(row.location)">{{row.location}}</span>
      </td>
    </ng-container>

    <!-- Detailed Map Column -->
    <ng-container matColumnDef="detailedMap">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Map</th>
      <td mat-cell *matCellDef="let row">
        <span [class]="row.detailedMap != '-' ? 'hoverHighlight zoom' : null" (click)="displayDetailedMap(row.detailedMap)">{{row.detailedMap}}</span>
      </td>
    </ng-container>

    <!-- Details Column -->
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Details</th>
      <td mat-cell *matCellDef="let row">
          <span [class]="row.details != '-' ? 'hoverHighlight details' : null" (click)="displayDetails(row.id)">{{row.details}}</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr
      mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="highlightFreeze($event, row)" (mouseenter)="selectOn($event, row)" (mouseleave)="selectOff($event)"
    ></tr>
  </table>
</div>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
