@import '../../../../styles/theme.scss';

.table {
    max-height: calc(77vh - 200px);
    overflow-y: auto;
    tr:hover .hoverHighlight {
        color: mat-color($accent);
        cursor: pointer;
    }
}