<h2>Planet list</h2>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" errorState="false">
</mat-form-field>

<div class="planet-list-table">
  <table #planetListTable mat-table [dataSource]="dataSource" matSort aria-label="Planet List">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <!-- Location Column -->
    <ng-container matColumnDef="location">
      <th
        mat-header-cell *matHeaderCellDef mat-sort-header
        matTooltip="Sector of the planet location on the Galaxy Map." matTooltipPosition="above"
      >Sector</th>
      <td mat-cell *matCellDef="let row">
        <span class="hoverHighlight zoom" [class.zoomed]="row.location == zoomedLocation" (click)="toggleLocationZoom(row.location)">{{row.location}}</span>
      </td>
    </ng-container>

    <!-- Detailed Map Column -->
    <ng-container matColumnDef="detailedMap">
      <th
        mat-header-cell *matHeaderCellDef mat-sort-header
        matTooltip="Detailed map presenting planet." matTooltipPosition="above"
      >Map</th>
      <td mat-cell *matCellDef="let row">
        <span [class]="row.detailedMap != '-' ? 'hoverHighlight zoom' : null" (click)="displayDetailedMap(row.detailedMap)">{{row.detailedMap}}</span>
      </td>
    </ng-container>

    <!-- Details Column -->
    <ng-container matColumnDef="details">
      <th
        mat-header-cell *matHeaderCellDef mat-sort-header
        matTooltip="Numbe of properties available. Click item to go to detals." matTooltipPosition="above"
      >Details</th>
      <td mat-cell *matCellDef="let row">
          <span (click)="displayDetails(row.id)" [class]="row.details != 0 ? 'hoverHighlight details' : null">
            <span *ngIf="row.details > 0" class="icon">🗏</span>
            <span>{{row.details > 0 ? row.details : '-'}}</span>
          </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr
      mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="highlightFreeze($event, row)" (mouseenter)="selectOn($event, row)" (mouseleave)="selectOff($event)"
    ></tr>
  </table>
</div>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons (page)="updatePageData($event)"></mat-paginator>
