@import '../../../../styles/theme.scss';

:host {
    display: flex;
    flex-direction: column;
}

h2, mat-form-field, mat-paginator { flex: 0 0 auto; }
h2 { margin: 1em 0 0; }

.planet-list-table {
    flex: 0 1 auto;
    overflow-y: auto;
    cursor: default;
    tr.selected, tr:hover {
        cursor: copy;
        .hoverHighlight {
            color: mat-color($accent);
            transition: color 0.3 linear;
            &.zoom { cursor: zoom-in; }
            &.zoom.zoomed { cursor: zoom-out; }
            &.details { cursor: pointer; }
        }
    }
    span.icon {
        font-size: large;
        margin-right: 3px;
    }
}