.component {
    padding: 5vh 3vw;
    h1.mat-display-2 { margin-top: 1rem; }
    .container {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        planet-details-table {
            flex: 0 0 350px;
        }
        .image { display: none; }
        @media screen and (min-width: 960px) {
            .image {
                display: block;
                flex: 1 1 calc(100% - 350px - 3vw);
                margin-left: 3vw;
                height: calc(100vh - 2 * 5vh - 36px - 16px - 48px - 64px);
                text-align: center;
                img {
                    max-height: 100%;
                    max-width: 100%;
                }
            }
        }
    }
}
