.page {
    position: relative;
    button {
        position: absolute;
        margin-left: 3vw;
        @media screen and (min-width: 360px) { margin-left: 0; }
    }
    h1 span.sw-logo {
        text-align: center;
        display: block;
        @media screen and (min-width: 960px) { display: inline; }
    }
    .container {
        .image { display: none; }
        @media screen and (min-width: 960px) {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            planet-details-table {
                flex: 0 0 350px;
            }
            .image {
                display: block;
                flex: 1 1 calc(100% - 350px - 3vw);
                margin-left: 3vw;
                height: calc(100vh - 2 * 5vh - 36px - 16px - 48px - 64px);
                text-align: center;
                img {
                    max-height: 100%;
                    max-width: 100%;
                }
            }
        }
    }
}
