<div class="page">
    <button mat-raised-button color="accent" (click)="back()">Back</button>
    <h1>
        <span class="sw-logo"><img src="../../../assets/StarWarsLogo.svg" class="sw-logo"/></span>
        <span>Planet details</span>
    </h1>
    
    <div class="container">
        <planet-details-table [id]="id" class="app-table"></planet-details-table>
        <div class="image">
                <img src="../../../assets/Ryloth_Rebels.png"/>
        </div>
    </div>
    <p class="more">More on wide screen ...</p>
</div>

<footer></footer>
