@import '../../../../styles/theme.scss';

h2 { margin-bottom: 1.5em; }

table.planet-details {
  cursor: default;
  span.info {
    margin-left: 5px;
    mat-icon {
      font-size: 18px;
      vertical-align: middle;
    }
  }
  td.mat-cell { padding: 0 1em; }
}
