@import '../../../styles/theme.scss';

:host {
    height: 100vh;
    padding: 5vh 3vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.container {
    flex: 1 1 50vh;
    position: relative;
    planets-table, sw-galaxy-map {
        position: absolute;
        top: 0;
        height: 100%;
    }
    planets-table {
        left: 0;
        width: 350px;
        height: 100%;
        border: 2px outset mat-color($accent, darker);
    }
    sw-galaxy-map {
        left: 350px;
        margin-left: 3vw;
        width: calc(100vw - 350px - 2 * 3vw - 3vw);
    }
}
app-detailed-map {
    flex: 0 0 auto;
    margin-top: 3vh;
}
