<div #container class="container">
  <div #map [ngStyle]="mapSize" class="sw-galaxy-map">
    <img src='../../../../../assets/SWGalaxyMap.jpg'/>
    <table class="map-grid">
        <tr *ngFor="let number of mapNumbers">
            <td
              *ngFor="let letter of mapLetters" [ngStyle]="tableCellSize"
              [id]="letter + number" [class]="(letter + number) == selectedId ? 'selected' : ''"
            >
              <div></div>
            </td>
        </tr>
    </table>
  </div>
</div>
