@import '../../../../../styles/theme.scss';

.container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    div.sw-galaxy-map {
        position: relative;
        overflow: hidden;
        width: 1527px;
        height: 1080px;
        top: 50%;
        left: 50%;
        margin-left: calc(-1527px / 2);
        margin-top: calc(-1080px / 2);
        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
        table.map-grid {
            position: absolute;
            top: 0;
            left: 0;
            table-layout: fixed;
            border-collapse: collapse;
            font-size: 10px;
            text-align: center;
            color: lightcoral;
            tr > td {
                border: 2px solid lightcoral;
                &.selected {border: 2px solid mat-color($accent, darker); }
                & > div {
                    width: calc(1527px / 22 * 0.923);
                    height: calc(1080px / 28 * 0.973);
                }
            }
            transform: skew(-24.5deg) rotate(24deg) translate(-12.5%, -6.0%);
        }
    }
}
