@import '../../../../styles/theme.scss';

:host { display: block; }

mini-map {
    height: 100%;
    font-size: 12px;
    &.highlight, &:hover {
        outline: 1px solid mat-color($accent);
        transition: outline 0.3s linear;
    }
    + mini-map {margin-left: 5px;}
}
